/* здесь используйте глобальные селекторы img, body, html и так далее */

body {
  @include base-font($primary-font, 400, 20px, 100%, none);
  margin: 0;
  padding: 0;
  color: $basic-text;
  background-color: $basic-white;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.title-h1 {
  @include base-font($secondary-font, 400, 36px, 100%, none);
}

.index-title-h2 {
  @include base-font($secondary-font, 400, 36px, 111%, none);
}

.index-title-h3 {
  @include base-font($secondary-font, 400, 24px, 154%, uppercase);
}

.title-h2 {
  @include base-font($secondary-font, 400, 24px, 100%, none);
}

.title-h3 {
  @include base-font($primary-font, 400, 16px, 125%, uppercase);
}

.main-text {
  @include base-font($primary-font, 400, 14px, 129%, none);
}

.second-text {
  @include base-font($primary-font, 400, 12px, 100%, none);
}

.fourth-text {
  @include base-font($primary-font, 400, 12px, 133%, none);
  color: $basic-text;
}
