.example {
  background-color: $special_grey-2;
  padding: 25px 20px 40px;

  .example__weight-value,
  .example__duration-value {
    @include base-font($secondary-font, 400, 24px, 100%, none);
    color: $basic-black;
  }

  .example__weight-label,
  .example__duration-label {
    color: inherit;
  }

  .example__prise-label,
  .example__prise-value {
    @include base-font($secondary-font, 400, 14px, 143%, uppercase);
    color: $basic-black;
  }
}
