.features {
  .features__wrapper {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
      gap: 30px;
      margin-bottom: 45px;
    }

    @media (min-width: $desctop-width) {
      max-width: $desctop-width;
      margin: 0 auto;
      flex-direction: row;
      gap: 80px;
      margin-bottom: 70px;
      padding: 0;
    }
  }

  .features__item {
    background-color: $basic_grey;
    padding: 20px;
  }

  .features__title {
    @include base-font($secondary-font, 400, 24px, 154%, uppercase);
    color: $basic-black;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 100%;
    }
  }

  .features__description {
    color: $basic-text;
  }

  .features__button {
    @include base-font($secondary-font, 400, 16px, 100%, uppercase);
    color: $basic-black;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      mask: url("../../icons/stack.svg#icon_arrow-right");
      display: block;
      width: 24px;
      height: 12px;
      background-color: $basic-black;
      margin-left: 15px;
      transition: transform 0.3s linear;
      transform-origin: left center;
    }

    &:is(:hover, :active, :focus, :focus-visible)::after {
      transform: scaleX(1.35);
    }

    &:active {
      opacity: 0.3;
    }
  }
}
