.header {
  background-color: #663399;
  color: #ffffff;
  padding: 10px 15px;
}

/* stylelint-disable-next-line @stylistic/block-opening-brace-space-before */
p{
  margin: 0;
  /* stylelint-disable-next-line color-named */
  color: #ff0000;
}
