.how-to-work {
  .how-to-work__wrapper {
    padding: 0 20px;
    margin-bottom: 48px;

    @media (min-width: $tablet-width) {
      padding: 0 30px;
      margin-bottom: 50px;
    }

    @media (min-width: $desctop-width) {
      max-width: $desctop-width;
      margin: 0 auto;
      margin-bottom: 70px;
      padding: 0;
    }
  }

  .how-to-work__title {
    color: $basic-black;
    margin-bottom: 40px;
  }

  .how-to-work__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      gap: 37px 153px;
    }

    @media (min-width: $desctop-width) {
      gap: 0;
      justify-content: space-between;
    }
  }

  .how-to-work__image {
    background-color: $accent-color;
    display: inline-flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  .how-to-work__description {
    max-width: 250px;
  }
}
