.slogan {
  background: url("../../images/index-background-mobil@1x.jpg") no-repeat top center / cover, linear-gradient(rgba(104, 183, 56, 0.85) 75%, $basic-white 25%);
  background-blend-mode: overlay;
  text-align: center;

  .slogan__wrapper {
    padding: 27px 20px 20px;
  }

  .slogan__title {
    color: $basic-white;
  }

  .slogan__description {
    @include base-font($secondary-font, 400, 14px, 100%, uppercase);
    color: $basic-white;
  }
}
